---

---

<div class="bg-blanco rounded-xl shadow-md border-blanco border-2 hover:border-magenta transition-all ease-in-out duration-300 p-3 md:p-5">
    <h5 class="text-azul font-bold font-Signika text-center">Médico Especialista En Ginecología Y Obstetricia</h5>
    <div class="flex justify-center my-2">
        <img src="/img/thumbnail/logoUCLA.jpg" alt=" Logo de la Universidad CentroOccidental Lisandro Alvarado">
    </div>
    <p class="text-center text-gris font-Roboto leading-tight text-sm">Graduada en la Universidad Centro Occidental Lisandro Alvarado de Barquisimeto</p>
</div>