---
import { Icon } from "astro-icon/components";
import HeaderMenu from "./react/HeaderMenu";
---

<header class="sticky top-0">
  {/* Header Info */}
  <div
    class="font-Roboto bg-azul flex flex-col sm:flex-row items-center justify-center gap-3 md:gap-10 text-blanco text-[10px] md:text-xs font-bold py-2"
  >
    <div class="flex gap-2 items-center">
      <Icon name="fa6-solid:phone" />
      <a
        href="https://api.whatsapp.com/send/?phone=584166542059&text=%C2%A1Hola%2C+Doctora+Yuleima%21+Estoy+interesada+en+acudir+a+su+consulta&type=phone_number&app_absent=0"
        target="_blank">(+58) 416 6542059</a
      >
    </div>
    <div class="flex gap-2 items-center">
      <Icon name="fa6-solid:location-dot" />
      <a
        class="uppercase"
        target="_blank"
        href="https://maps.app.goo.gl/zaU8chtXhKU3kLZw9"
        >Edif. Centro Empresarial, Consultorio 4-7</a
      >
    </div>
  </div>

  {/* Header Menu */}
  <HeaderMenu client:load />
  
</header>
