---
import { Image } from "astro:assets";
---

<div class="grid place-items-center xl:place-items-end">
  <div
    class="relative w-[85%] md:w-[75%] after:content-['']
  after:block
  after:absolute
  after:w-[100%] after:h-[100%] after:rounded-[30px] after:border-rosado
  after:border-4
  after:top-[12px] after:left-[16px] after:z-[-1] after:shadow-rosado"
  >
    <Image
      src="/img/DraDePie.png"
      alt="Fotografría de la Dra. Yuleima Pérez"
      width={416}
      height={554}
      class={"rounded-[30px]"}
    />
  </div>
</div>
