---
import SectionTitle from "./utils/SectionTitle.astro";
import { services } from "../data/data";

const groupedServicesByFive = (services: string[]) => {
  let groupedServices = [];
  let index = 0;
  while (index < services.length) {
    groupedServices.push(services.slice(index, index + 5));
    index += 5;
  }
  return groupedServices;
};
---

<div class="my-container my-3">
  <SectionTitle title="Mis Servicios" className="text-magenta" />

  <div
    class="grid grid-cols-1 gap-0 sm:grid-cols-2 sm:gap-3 sm:items-center lg:grid-cols-3 mt-3"
  >
    {
      groupedServicesByFive(services).map((group) => (
        <ul class="services-group text-center">
          {group.map((service) => (
            <li class="text-azul text-sm md:text-md font-bold font-Roboto md:hover:text-[15px] transition-all ease duration-300 mb-1 last-of-type:mb-0">
              {service}
            </li>
          ))}
        </ul>
      ))
    }
  </div>
</div>

<style>
  .services-group {
    & li {
      &::before {
        content: "✔";
        margin-right: 0.5rem;
        color: rgb(171 29 108);
      }
    }

    @media (min-width: 640px) and (max-width: 1024px) {
      &:last-of-type {
        grid-column: 1 / -1;
      }
    }
  }
</style>
