---
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="author" content="ARLA" />
    <meta
      name="keywords"
      content="Landing Page, Dra. Yuleima Pérez, ARLA, Yuleima Pérez, Ginecologia, Obstetricia, Barquisimeto, Ginecobstetricia, Ginecobstetra en Barquisimeto, Ginecobstetra en Lara, Consulta de Ginecobstetra, Consulta Ginecologica, Consulta Obstetrica"
    />
    <link rel="»canonical»" href="»https://drayuleimaperez.com/»" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Dra. Yuleima Pérez" />
    <meta
      property="og:description"
      content="Dra. Yuleima Pérez, especialista en Ginecologia y Obstetricia con más de 20 años de experiencia"
    />
    <meta
      property="og:image"
      content="https://drayuleimaperez.com/img/logo.png"
    />
    <meta property="og:url" content="https://drayuleimaperez.com/" />
    <meta
      name="google-site-verification"
      content="TyvUjByzgtuT2q5TNIbXdzgHz-PphTJGfuXzvUUF9oI"
    />
    <meta name="msvalidate.01" content="E31E8B452214185A630F437685D714C1" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Signika:wght@300;400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz@16..144&display=swap"
    />
  </head>
  <body class="h-full bg-rosado font-Signika">
    <Header />

    <h1>Hola</h1>
    <slot />
  </body>
</html>
