---
export interface Props {
  title: string;
  className?: string;
}

const { title, className } = Astro.props;
---

<h3
  class=`
text-center uppercase font-bold font-Signika text-[18px] sm:text-[24px] ${className === undefined ? "text-blanco" : className}`
>
  {title}
</h3>
